__pycache__/
*.py[cod]
*$py.class

#virtualenv
project-bravo-env/

# Django stuff:
*.log
local_settings.py

# Jupyter Notebook
.ipynb_checkpoints
# pyenv
.python-version

.vscode
.DS_Store
*.sqlite3
media/
*.pyc
*.db
*.pid