{% extends "home/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<h2>List of Rooms</h2>
{% if room_list %}

    <div class="container">
        <div class="row">
            {% for room in room_list %}
                <table class="room_list card bg-light mb-3 col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3" style="border-color: black; border-style: solid; border-width: 1; border-radius: 1; text-align: left; margin: 1.5%; align-items: center;">
                    <tr>
                        <td><a href="{% url 'room' room.id %}">{{ room.name }}</a></td>
                    </tr>
                    <tr>
                        <td><img src="media/person.png" style="width: 30px; border-radius: 50%;"> {{ room.capacity }}</td>
                    </tr>
                    <tr>
                        <td>{{ room.description }}</td>
                    </tr>
                    <tr>
                        <td><img src="media/31009.jpg" class="img-fluid" alt="Responsive image" style="border-radius: 25px;"></td>
                    </tr>
                </table>
            {% endfor %}
        </div>
    </div>

{% endif %}


{% endblock %}