{% extends "home/layout.html" %}
{% block title %}
search
{% endblock %}
{% block content %}
<form method="POST" class="get-form">{% csrf_token %}

    <div class="container" style="margin-bottom: 1.5%;">
        <div class="row">
            {% for field in form %}
                <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3"> 
                    <p> {{ field.label_tag }} </p>
                    <p> {{ field }} </p>
                </div>
            {% endfor %}
        <div>
            <button type="submit" class="btn btn-primary btn-sm">Search</button>
        </div>
        </div>
    </div>
</form>

<h2>List of Available Rooms</h2>
{% if room_list %}
<table class="room_list">
<thead>
<tr>
…
</tr>
</thead>
<tbody>
{% for room in room_list %}
<tr>
    <td><a href="{% url 'room' room.id %}">{{ room.name }}</a></td>
    <td>{{ room.capacity }}</td>
    <td>{{ room.description }}</td>
</tr>
{% endfor %}
</tbody>
</table>
{% else %}
<p></p>
{% endif %}
{% endblock %}